[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "rangecondprob"]
	path = rangecondprob
	url = https://github.com/kimmanlui/calc_cond_prob
